body {
    background-color: #EBEBEB;
    color: #424C55;
}

.navbar {
    border-top: 4px solid #20b885;
    border-bottom: 0;
}

.navbar-default {
	background-color: #242424;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.btn-primary, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover {
    color: #fff;
    background-color: #1a956c;
    border-color: #17845f;
}

.form-inline {
    display: inline;
}

input[type=file] {
    display: inline;
}